<br/>
<div class="mt-5 p-4 bg-dark text-white text-center">
    <p>😚 Creted by 모카</p>
    <p>☎️ 010-111-2222</p>
    <p>🚩 부산 수영구 xx동</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
