{{> layout/header }}

<form class="mx-5 my-3">

    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>

    <div class="mb-3 mt-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
</form>
<button id="btn-save" class="btn btn-primary">회원가입완료</button>

<script src="/blog/js/user.js"></script>
{{> layout/footer}}


